In [644]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [645]:
df1 = pd.read_csv("dataset/page1.csv")
df2 = pd.read_csv("dataset/page2.csv")
df3 = pd.read_csv("dataset/page3.csv")
df4 = pd.read_csv("dataset/page1_2.csv")
df5 = pd.read_csv("dataset/page2_1.csv")
df6 = pd.read_csv("dataset/page2_2.csv")
df7 = pd.read_csv("dataset/page3_1.csv")
df8 = pd.read_csv("dataset/page3_2.csv")

In [646]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [647]:
df.shape

(240, 9)

In [648]:
df.isnull().sum()

title            124
address          124
total_ratings    124
rating           124
type             124
type2            126
description      126
timing           165
phone            124
dtype: int64

In [649]:
df.dropna(inplace=True)

In [650]:
df.shape

(73, 9)

In [651]:
df.duplicated().sum()

29

In [652]:
df.drop_duplicates(inplace=True)

In [653]:
df.drop_duplicates(subset=['title'], keep='first', inplace=True)

In [654]:
df.dropna(inplace=True)

In [655]:
df.shape

(40, 9)

In [656]:
df['title'].value_counts()

title
Peshawri                                          1
Mandap                                            1
Millennium Restaurant                             1
Radhika Restaurant                                1
22nd Parallel                                     1
Azure                                             1
My Restaurant                                     1
Mynt                                              1
Hariyali Restaurant                               1
Milton's South Corner                             1
White Potato Restaurant                           1
Cafe Fitoor                                       1
Meraki                                            1
Hotel Nyay Mandir Restaurant                      1
Curry Kingdom Vadodara                            1
Barbeque Nation                                   1
Ekta Restaurant & Banquet                         1
Cafe Bistro                                       1
Tarkari Restaurant                                1
Orizon Restaurant                                 1
Khamma Ghani - The Royal Kitchens Of Rajasthan    1
Oak Leaf                                          1
Mirch Masala Restaurant                           1
The Barbeque Nation                               1
Kai Asia                                          1
Sankalp Restaurant                                1
Fiorella Italian Restaurant                       1
Gazebo Restaurant, Vadodara                       1
Havmor Restaurant                                 1
Salsa Habanero Mexican Taqueria                   1
Chung Faa                                         1
Blue Lagoon                                       1
Rasthal Gujarati Thali                            1
PinXX - KIitchen and Lounge                       1
Subway                                            1
New Alka                                          1
La Benito                                         1
Gusto's Pizzeria                                  1
Rasa                                              1
The Dhaba                                         1
Name: count, dtype: int64

In [657]:
df.columns

Index(['title', 'address', 'total_ratings', 'rating', 'type', 'type2',
       'description', 'timing', 'phone'],
      dtype='object')

In [658]:
df['index'] = range(len(df))

In [659]:
titles = df['title'].tolist()

In [660]:
from sklearn.metrics.pairwise import cosine_similarity

In [661]:
from sklearn.feature_extraction.text import TfidfVectorizer
vector = TfidfVectorizer()

In [662]:
import difflib

In [663]:
user_input = input()

In [664]:
def user_input_take(user_input):
    combined_cols = df['address'] + " " + df['description']+ " " +df['type'] + " " + df['type2'] 
    vector_combined_cols = vector.fit_transform(combined_cols)
    similarity  = cosine_similarity(vector_combined_cols)
    np.set_printoptions(threshold=10)
    restau_name = difflib.get_close_matches(user_input,titles)
    close_match = restau_name[0]
    index_of_the_movie = df[df['title']==close_match]['index'].values[0]
    similarity_score = list(enumerate(similarity[index_of_the_movie]))
    return similarity_score

In [665]:
similarity_score = user_input_take(user_input)

In [666]:
def recommandations(similarity_score):
    restaurants = []
    sorted_similar_restaurants = sorted(similarity_score, key = lambda x:x[1], reverse = True)
    i = 1
    for r in sorted_similar_restaurants:
        if i==6:
         break;
        index = r[0]
        title_from_index = df[df['index']==index]['title'].values[0]
        if i>1:
            restaurants.append(title_from_index)
        i+=1
    return restaurants

In [668]:
restaurants = recommandations(similarity_score)

In [670]:
print(restaurants)

['Peshawri', 'The Barbeque Nation', '22nd Parallel', 'Azure']